@media (max-device-width: 768px){
    .night{
        background-image: url('../assets/img/night.jpg');
        height: 1800px;
        background-size: cover;
    }
    
    .night img {
        display: block;
        margin: 500px auto;
        
    }
    .sunny, .dawn{
        display: none;
    }
}

@media screen and (min-device-width: 768px) and (max-device-width: 992px){
    .sunny{
        background-image: url('../assets/img/sunny-day.jpg');
        background-repeat: no-repeat;
    }

    .sunny img {
        margin: 680px auto;
        margin-left: 530px;
    }
    .night, .dawn{
        display: none;
    }
}

@media screen and (min-device-width: 992px){
    .dawn {
        background-image: url('../assets/img/dawn.png');
        max-height: 100%;
        background-repeat: no-repeat;
    }
    .dawn img {
        margin-top: 235px;
        margin-left: 120px;
    }
    .night, .sunny{
        display: none;
    }
}